*{margin:0;padding: 0;
box-sizing: border-box;}

body{
background: #fffffa;
font-size: 16px;


}
section div .w3-third img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
  section div .w3-third img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
section .title{
  text-align: center;
  font-size:50px;
  color: white;
  background:#00477e;
  letter-spacing: 50px;
  text-shadow: 2px 2px 15px #ffffff;
  padding: 25px;
  

}
section .circulares{
  text-align: center;
  font-size:50px;
  color: white;
  background:#00477e;
  letter-spacing: 20px;
  text-shadow: 2px 2px 15px #ffffff;
  padding: 25px;
  

}

.formex {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background:#00477e;
  display: flex;
  color:white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.formex input {
  width: 90%;
  height: 50px;
  margin: 5px;
}

.formex button {
  padding: 0.5em 1em;
  border: none;
  background: rgb(100, 200, 255);
  cursor: pointer;
}
.navdep{
  
  background:#00477e ;
  
  width: 100%;
}

.navcol{
  background:#00477e;
  height: 100%;
  width: 100%;
  

}
.redes{
  width: 70px;
  height: 70px;
  
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 20px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

/* INICIO NAVBAR */
  
.navbar {
    overflow: hidden;
    background-color: #333; 
    font-weight: bold;
  }
  
  .navbar a {
    float: left;
    font-size: 18px;
    
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* margin-left: 150px; */
  }
  
  .subnav {
    float: left;
    overflow: hidden;
    font-weight: bold;
    /* margin-left: 120PX; */
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color:  #41a0d6;
    border-radius: 100px;
    color: white;
  }
  
  .subnav-content {
    display: none;
    position:fixed;
    z-index: 1;
    background: #00477e;
    
    width: 266px;
    border-radius: 20px;
    
  }
  
  .subnav-content a {
    
    float: left;
    color: white;
    text-decoration: none;
    
    
    /* z-index:2; */
  }
  
  .subnav-content li{
    list-style: none;
  }
  .subnav-content a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    
    
  }
  
  .subnav:hover .subnav-content {
    display: block;
    
  }
  /* FIN NAVBAR */




.dep{
  text-align: center;
}

.wrapper{
    width: 100%;
    max-width: 10000px;
    margin:auto;
    overflow: hidden;
    color: black;
}
.plataforma{
  width: 100%;
  max-width: 10000px;
  margin:auto;
  overflow: hidden;
  
  
}

.Año{
  width: 100%;
  height: 40px;
  max-width: 10000px;
  font-weight: bold;
  
  padding:5px;
  margin:auto;
  
  color: white;
}

.text{
 
  background: #00477e;
  font-size: 20px;
  width: 100%;
  max-width: 10000px;
  padding:7px;
  padding-bottom: 15px;
  margin:auto;
  overflow: hidden;
  color: white;
}


.imgCol{
  background: #00477e;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 15px;
  
}

#simbolos{
  background: rgb(1, 109, 197);
  font-size: 20px;
  width: 100%;
  
  max-width: 10000px;
  padding:7px;
  padding-bottom: 15px;
  margin:auto;
  overflow: hidden;
  color: white;
}

footer{
    background: #1a1f29;
    color:#ffffff;
    
}
footer p{
  margin-bottom: 0px !important;
  font-size: 12px !important;
}





header div a {
    display: inline-block;
    text-decoration: none;
    padding: 40px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.header2 .logo{
    left: 0px; top: 0px; z-index: 3;
}
.header2 .logo img{
    width:150px; height:150px; 
}
/* .header2 .menu{
    
    left: 0px; top: 0px; z-index: 2;width: 100%;
    
    

} */
.header2 .navbar{
    
    left: 0px; top: 0px; z-index: 2;width: 100%;
    padding-left: 200px;
    font-weight: bold;
    
    
}

.header2.navbar a {
    
    margin-left: 250px;
  }
  
  .header2 .subnav {
    
    margin-left: 0PX;
  }
section .header2 .navbar{
    
    float:left;
    line-height: 0px;
    margin-left: 0px;
    
    
   
}
 
.pagination{
  display:flex;
  justify-content: center;
}

 .pagination a {
  color: black;
  
  float: left;
  padding: 8px 16px ;
  border: 1px solid black;
  
  text-decoration: none;
  transition: background-color .3s;
}

 

 .pagination a:hover:not(.active) {background-color: #00477e;}


 .eventos {
   padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse:separate;
  width: 100%;
}

.eventos td, .eventos th {
  border: 1px solid #ddd;
  padding: 8px;
}

.eventos tr:nth-child(even){background-color: #f2f2f2;}

.eventos tr:hover {background-color: #ddd;}

.eventos th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00477e;
  color: white;
}



@media(max-width:1920px){
    header .logo{
        position: absolute;position:fixed; left: 400px; top: 40px; z-index: 2;
    }
    header .logo img{
        width:160px; height:160px;border-radius:48px;background: #00477e
    }
    header .navbar{
        position: absolute;position:fixed; left: 535px; top: 75px; z-index: 1;border-radius:10px;background: #00477e;
    }
    header .redes{
      position: absolute;position:fixed; left: 1820px; top: 150px; z-index: 2;

    }
    
    
}
@media(max-width:1400px){
    header .logo{
        position: absolute;position:fixed; left: 100px; top: 40px; z-index: 2;
    }
    header .logo img{
        width:160px; height:160px;border-radius:48px;background: #00477e
    }
    header .navbar{
        position: absolute;position:fixed; left: 243px; top: 100px; z-index: 2;border-radius:10px;background: #00477e;
    }
    header .redes{
      position: absolute;position:fixed; left: 1250px; top: 200px; z-index: 2;
  }
    
}
@media(max-width:726px){}